#ajaxVeil, #wsDisconnected {
	display: none;
	position: fixed;
	z-index: 9999;
	width: 100%;
	text-align: center;
}

#wsDisconnected {
	background-color: maroon;
	color: yellow;
}

#ajaxVeilSign, #wsDisconnectedSign {
	display: inline-block;
}

table.w-file {
	opacity: 0.3;
}

table.w-file:hover {
	opacity: 1;
}