#ajaxVeil {
	display: none;
	position: fixed;
	z-index: 1000;
	width: 100%;
	text-align: center;
}

#ajaxVeilSign {
	display: inline-block;
}

table.w-file {
	opacity: 0.3;
}

table.w-file:hover {
	opacity: 1;
}